router:
  hosts:
    localhost:
      ansible_connection: local

unificontroller:
  hosts:
    localhost:
      ansible_connection: local

drivemount:
  hosts:
    localhost:
      ansible_connection: local
      mounts: []
