router:
  hosts:
    localhost:
      ansible_connection: local

unificontroller:
  hosts:
    localhost:
      ansible_connection: local

fileshare:
  hosts:
    localhost:
      ansible_connection: local
      mounts: []
      shares: []
