[Unit]
Description=Prune unused Docker images weekly
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec=80
OnCalendar=weekly
Unit=docker-prune.service

[Install]
WantedBy=timers.target
