[Unit]
Description=unifi
Requires=network.target
After=network.target

[Service]
Restart=always
WorkingDirectory=/opt/UniFi
ExecStart=java -jar lib/ace.jar start -nodetatch -outfile SYSLOG -errfile SYSLOG
ExecStop=java -jar lib/ace.jar stop
User=unifi
Group=unifi

[Install]
WantedBy=multi-user.target
