[Match]
Name=br0

[Network]
Address=10.0.0.1/24
IPForward=yes
IPv6SendRA=yes
DHCPv6PrefixDelegation=yes
DNS=::1
ConfigureWithoutCarrier=yes
VLAN=100
VLAN=200
